.conditionsOfUse {
    padding: 20px;
    line-height: 1.6;
  }
  
  .conditionsOfUse h1 {
    margin-bottom: 20px;
  }
  
  .conditionsOfUse h2 {
    margin-top: 20px;
  }
  
  /* Adaugă stiluri suplimentare după cum este necesar */
  